<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_col" style="width:100%; height: 400px; display:block;"></highcharts-chart>
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_col_negative" style="width:100%; height: 400px; display:block;"></highcharts-chart>
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_col_stacked" style="width:100%; height: 400px; display:block;"></highcharts-chart>
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_col_group" style="width:100%; height: 400px; display:block;"></highcharts-chart>
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_col_percentage" style="width:100%; height: 400px; display:block;"></highcharts-chart>
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_col_label" style="width:100%; height: 400px; display:block;"></highcharts-chart>
<highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_col_range" style="width:100%; height: 400px; display:block;"></highcharts-chart>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
