<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <!-- Resources -->
  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_area" style="width:100%; height: 400px; display:block;"></highcharts-chart>
  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_area_negative" style="width:100%; height: 400px; display:block;"></highcharts-chart>
  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_area_stacked" style="width:100%; height: 400px; display:block;"></highcharts-chart>
  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_area_percentage" style="width:100%; height: 400px; display:block;"></highcharts-chart>
  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_area_missing" style="width:100%; height: 400px; display:block;"></highcharts-chart>
  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions_area_spline" style="width:100%; height: 400px; display:block;"></highcharts-chart>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

